<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book App</title>
  </head>
  <body>
    <h1>Web 0916 Book App</h1>
    <h2>All of the Authors...ALL OF THEM</h2>
    <ul>
    <% @authors.each do |author| %>
      <li><h4><a href="/authors?id=<%= author.id %>"><%= author.full_name %></a></h4></li>
    <% end %>
  </ul>
  </body>
</html>
