<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books - Show</title>
  </head>
  <body>
    <h1>One Book</h1>
    <h2><%= @book.title %></h2>
    <p><%= @book.snippet %></p>
  </body>
</html>
