<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book App</title>
  </head>
  <body>
    <h1>Web 0916 Book App</h1>
    <h2><%= @book.title %></h2>
    <p>by <a href="authors?id=<%=@book.author.id %>"><%= @book.author.full_name %></a></p>
    <p><%= @book.snippet %></p>
  </body>
</html>
